

#header {
	background-color: #ffcc00;
	text-align: center;
	padding: 20px;
	clear: both;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 75px;
	font-style: italic;
	text-align: center;
}